/*********************************************

This is the style file for this project.

**********************************************/
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,400,400i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

body {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #EDEDED;
}

#header-right > li > a {
  color: black;
}

#download {

margin-bottom: 80px;
}

#pianovideo {
margin-top: 20px;
  text-align: center;
}

#pianovideo2 {
margin-top: 20px;
  text-align: center;
  margin-bottom: 100px;
}

#videotext {
  color: black;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
}

#videotext2 {
  color: black;
  font-size: 20px;
  margin-top: 50px;
  text-align: center;
  font-weight: 400;
}

#videopagetitle {
  color: black;
  font-size: 50px;
  margin-top: 50px;
  text-align: center;
  font-weight: 400;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

}

.left-side-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20rem;

}

.right-side {
  margin-right: 10rem;
  text-align: justify;

}

.content {
  padding: 20px;
}


#CVimage {
 text-align: center;
}
